@import "../_globalColor";

.dark-mode {
  background-color: $darkBackground;
  color: white;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
  transition: 0.2s ease;
}

.light-mode {
  background-color: #ffffff;
  color: #0f172a;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
  transition: 0.2s ease;
}

