@import "../../_globalColor";

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
  flex-shrink: 0;

  /* Scoped to toggle checkbox only */
  input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
    margin: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $toggleSwitchSliderBG;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
    display: flex;
    align-items: center;
  }

  .slider::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: $textColorDark;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    border-radius: 50%;
  }

  input:checked + .slider {
    background-color: $toggleCheck;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px $toggleCheck;
  }

  input:checked + .slider::before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
  }

  .emoji {
    z-index: 10;
    display: flex;
    align-items: center;
    font-size: 13px;
    position: absolute;
    left: 6px;
    transition: 0.3s ease;
    user-select: none;
    pointer-events: none;
  }

  input:checked + .slider .emoji {
    left: 28px;
  }
}

